body{
    background-color:#EAF6F6;

    }
hr{
    border-style: dotted none none;
    width:5%;
    height:0px;
    border-color:grey;
    border-width:5px;
}
h1{
    color:#39B5E0
}
h2{
    color:#39B5E0
}

h3{
    color:#39B5E0
}